# Accessing MySQL Database

## Connection

In [1]:
import pandas as pd    
import warnings
import datetime
warnings.filterwarnings("ignore")
import mysql.connector as sqlConnector
con = sqlConnector.connect(host="localhost", user="test", passwd="pass*1234", database="training", port="3306")

## Reading Data

In [2]:
def GetData(query):
    df = pd.read_sql(query, con=con)
    return df

In [19]:
query = f"SELECT * FROM students"
df = GetData(query)
df

   id student_name  age
0   1        Satya   45

## Insert

In [6]:
def InsertStudent(Name, Age):
    query = "INSERT into students(student_name, age) Values('{}', '{}')".format(Name, Age)
    #print(query)
    cur = con.cursor()
    cur.execute(query)
    con.commit()

In [9]:
InsertStudent('Alex', '10')

INSERT into students(student_name, age) Values('Alex', '10')

## Update

In [11]:
def Update_Age(Name, Age):
    query = f"update students set age = {Age} where student_name = '{Name}'"
    print(query)
    cur = con.cursor()
    cur.execute(query)
    con.commit()

In [12]:
Update_Age('Alex', 18)

update students set age = 18 where student_name = 'Alex'

## Delete Data

In [17]:
def Delete_by_name(Name):
    query = f"Delete from students where student_name = '{Name}'"
    print(query)
    cur = con.cursor()
    cur.execute(query)
    con.commit()

In [18]:
Delete_by_name('Alex')

Delete from students where student_name = 'Alex'